@model TopicVM

@{
    ViewData["Title"] = "Topic Page";
}

<div class="text-center">
    <h1 class="display-4">Forum</h1>
    <h2>Topic ID</h2>
    <p>@Model.TopicViewId</p>
    <h2>Topic Name</h2>
    <p>@Model.TopicViewName</p>
</div>
