@model ThreadVM

@{
    ViewData["Title"] = "Thread Page";
}

<div class="text-center">
    <h1 class="display-4">Forum</h1>
    <h2>Thread ID</h2>
    <p>@Model.ThreadViewId</p>
    <h2>Thread Name</h2>
    <p>@Model.ThreadViewName</p>
    @if (Model != null && Model.MessageViews.Any())
    {
        <ul>
        @foreach (var item in Model.MessageViews)
        {
            <li>User: @item.UserName, Message: @item.MessageViewContent</li>
        }
        </ul>
    }
    else
    {
        <p>No messages exist.</p>
    }
</div>
