@model ThreadVM

@{
    ViewData["Title"] = "Thread Page";
}

<div class="text-center">
    <h1 class="display-4">Forum</h1>
    <h2>Thread ID</h2>
    <p>@Model.ThreadViewId</p>
    <h2>Thread Name</h2>
    <p>@Model.ThreadViewName</p>
</div>
