@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model ThreadVM

@{
    ViewData["Title"] = "Thread Page";
}

<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Forum</h1>
    <h2>Thread ID</h2>
    <p>@Model.ThreadViewId</p>
    <h2>Thread Name</h2>
    <p>@Model.ThreadViewName</p>

    @if (Model != null && Model.MessageViews.Any())
    {
        <table>
            <thead>
                <tr>
                    <th>
                        Username
                    </th>
                    <th>
                        Message
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.MessageViews)
                {
                    <tr>
                        <td>
                            @item.UserName
                        </td>
                        <td>
                            @item.MessageViewContent
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No messages exist.</p>
    }

    <!--TODO: Change this so that there is a reply button which displays the form when clicked-->
    <!--The form should not be displayed until the user has clicked the reply button-->
    @if (SignInManager.IsSignedIn(User))
    {
        <form asp-action="Create">
            <input asp-for="MessageContent" />
            <input asp-for="ThreadViewId" type="hidden" />
            <input type="submit" value="Post" />
        </form>
    }

    </div>
